h1 {
    /*background-color: chocolate;*/
    /*color: royalblue;*/
    /*font-size: 20px;*/
    /*position: center;*/
}

.hbar1 {
display: inline;
margin: 15px;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
}
a:link, a:visited {
    color: blue;
}