<form action="/myapp/password_reset" method="post">
    {% csrf_token %}
    {% if email %}
        <span>Your new password is sent to your email - {{ email }} </span><br>
        <span>If you haven't received the email, check your spam folder</span><br>
        <a href="{% url "myapp:login" %}"> Login</a>
    {% else %}
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <input type="submit" value="Submit">
    {% endif %}


</form>